:root{
  --red_radius: 160vh;
  --orange_radius: 140vh;
  --yellow_radius: 120vh;
  --white_radius: 100vh;
}
body{
  background-color: #003049;
  overflow: hidden;
}
#dot{
  position: absolute;
  width: 5vh;
  height: 5vh;
  top: 50%;
  left: calc(50vw - 2.5vh);
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: #EAE2B7;
  animation-name: bounce_drop;
  animation-duration: 1.3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  z-index: 1;
    box-shadow: 0 0 10vw #EAE2B7;
}
#red_ring{
  position: absolute;
  border-radius: 50%;
  width: var(--red_radius);
  height: var(--red_radius);
  left: calc(50vw - var(--red_radius)/2);
  top: calc(100vh - var(--red_radius)/2);
  background-color: #D62828;
  animation-name: grow_red;
  animation-duration: 1s;
  animation-delay: 1.4s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  box-shadow: 0 0 5vw #D62828;
  transition-duration: 0.5s;

}

#red_ring:hover{
  transition-duration: 0.5s;
  background-color: #E73939;
  box-shadow: 0 0 7vw #E73939;
}

#orange_ring{
  position: absolute;
  left: calc(50vw - var(--orange_radius)/2);
  top: calc(100vh - var(--orange_radius)/2);
  border-radius: 50%;
  width: var(--orange_radius);
  height: var(--orange_radius);
  background-color: #F77F00;
  animation-name: grow_orange;
  animation-duration: 1s;
  animation-delay: 1.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  box-shadow: 0 0 4vw #F77F00;
  transition-duration: 0.5s;
}
#orange_ring:hover{
  transition-duration: 0.5s;
  background-color: #FF8F31;
  box-shadow: 0 0 7vw #FF8F31;
}

#yellow_ring{
  position: absolute;
  border-radius: 50%;
  width: var(--yellow_radius);
  height: var(--yellow_radius);
  left: calc(50vw - var(--yellow_radius)/2);
  top: calc(100vh - var(--yellow_radius)/2);
  background-color: #FCBF49;
  animation-name: grow_yellow;
  animation-duration: 1s;
  animation-delay: 1.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  box-shadow: 0 0 4vw #FCBF49;
  transition-duration: 0.5s;
}
#yellow_ring:hover{
  transition-duration: 0.5s;
  background-color: #FFCF5A;
  box-shadow: 0 0 7vw #FFCF5A;
}
#white_ring{
  position: absolute;
  margin: auto;
  border-radius: 50%;
  width: var(--white_radius);
  height: var(--white_radius);
  left: calc(50vw - var(--white_radius)/2);
  top: calc(100vh - var(--white_radius)/2);
  background-color: #EAE2B7;
  animation-name: grow_white;
  animation-duration: 1s;
  animation-delay: 1.1s;
  animation-fill-mode: both;
  box-shadow: 0 0 4vw #EAE2B7;
  animation-timing-function: ease-out;
    text-align: center;
    font-size: 10vh;
    line-height: var(--white_radius);
  z-index: 2;
}
#name_tag{
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
    display: inline;
    position: relative;
    bottom: 15vh;
    color: #003049;
}
.logo{
  position: relative;
  opacity: 0.3;
  width: 7vh;
  height: 7vh;
}
@keyframes bounce_drop {
  0%{
    top: 50%;
  }
  40%{
    top: 30%;
  }
  50%{
    opacity: 1;
  }
  100%{
    top: 105%;
    opacity: 0;
  }
}
@keyframes grow_white {
  0%{
    width: 0;
    height: 0;
    left: 50vw;
    top: 100vh;
  }
  100%{
    width: var(--white_radius);
    height: var(--white_radius);
    left: calc(50vw - var(--white_radius)/2);
    top: calc(100vh - var(--white_radius)/2);
  }
}
@keyframes grow_red {
  0%{
    width: 0;
    height: 0;
    left: 50vw;
    top: 100vh;
  }
  100%{
    width: var(--red_radius);
    height: var(--red_radius);
    left: calc(50vw - var(--red_radius)/2);
    top: calc(100vh - var(--red_radius)/2);
  }
}
@keyframes grow_orange {
  0%{
    width: 0;
    height: 0;
    left: 50vw;
    top: 100vh;
  }
  100%{
    width: var(--orange_radius);
    height: var(--orange_radius);
    left: calc(50vw - var(--orange_radius)/2);
    top: calc(100vh - var(--orange_radius)/2);
  }
}
@keyframes grow_yellow {
  0%{
    width: 0;
    height: 0;
    left: 50vw;
    top: 100vh;
  }
  100%{
    width: var(--yellow_radius);
    height: var(--yellow_radius);
    left: calc(50vw - var(--yellow_radius)/2);
    top: calc(100vh - var(--yellow_radius)/2);
  }
}
